body{
    background-color: lightgreen;
}


.box{
    width: 85%;
}

#search {
    margin: 0 auto;
    display: block;
}

#login {
    margin: 30%;
    width: 100%;
}

#legendas {
    align-items: center;
}

.card-link{
    color: black;
    font-weight: bolder;

}
